.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appHeader {
  font-size: 7vw;
  font-weight: 800;
  padding: 50px;
}

.appBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 10px;
  transition: 01s;
}
